@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400&display=swap');
.nav{
    color:black;
}
.d-flex{
    color:black;
}
.nav{
    color: black;;
}
.barraSuperior {
    background-color: rgb(200, 200, 200);
    font-family: 'Caveat', cursive;
    font-size: 10px;
    color:black;
}
.barraSuperior2{
    background-color: rgb(255, 255, 255);
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color:black;
}

h1{
    font-family: 'Caveat', cursive;
    
}
.nike{
    justify-content:start;
}
.nav-link2{
display: block;
    padding: 0.5rem 1rem;
    color: #000000;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.form-control2 {
    display: block;
    width: 250px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a6a6a6;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #787878;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: #a6a6a6;
}
.btn-secondary2{
    border-radius: 0.25rem;
    color: #686868;
    background-color: #ffffff;
    border-color: #909090;
    box-shadow: #787878;
    margin-left: 10px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 14rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 10rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
 .row{
  
  padding: 3rem;
}

 